# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=f26edf6bf0f6052ed069d3fcf1fd4a6bf3b05ca8aff9db4cc2a86e69eb781970709f26882bf4d129bce214fdf4ee3fdae0f140f0e6c8b488454267a9184dfc08
REDIS_URL=redis://localhost:6379/6
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
